<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Esiflix' %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="header">
    <h1 id="logo">Esiflix&trade;</h1>
    <h2 id="slogan">Tu tienda on-line de películas</h2>
  </div>

  <div id="menu">
    <ul>
      <li><a href="/admin/director">Directores</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/producer">Productoras</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/film">Películas</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/order">Pedidos</a>&nbsp;|&nbsp;</li>
      <li><a href="/">Catálogo</a>&nbsp;|&nbsp;</li>
      <li><a href="/about">Sobre Esiflix</a>&nbsp;</li>
    </ul>
  </div>

  <div id="content">
    <h1><%= @page_title if @page_title %></h1>
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </div>

  <% if @cart %>
    <div id="shopping_cart"><%= render :partial => 'cart/cart' %></div>
  <% end %>

  <div id="footer">
    &copy; 2019 Esiflix
  </div>
</body>
</html>
